/* Section 2 - Tecnologia */
.tech {
  background-color: var(--color-gray-100);
}

.tech-grid {
  width: var(--container-width);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-5);
}

.tech-card {
  flex: 1;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-300);
  border-radius: var(--radius-md);
  padding: var(--space-7);
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
  transition: border-color 0.2s ease;
  transition: outline 0.4s ease;
  outline: .25rem solid transparent;
}

.tech-card:hover{
  border-color: var(--color-primary-on-dark);
  outline-color: var(--color-primary-light);
}

.tech-card-icon {
  width: 3.25rem;
  height: 3.25rem;
  border-radius: var(--radius-full);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--text-xl);
  flex-shrink: 0;
}

.tech-card-icon-dark {
  background-color: var(--color-dark-light);
}

.tech-card-icon-primary {
  background-color: var(--color-primary-light);
}

.tech-card-title {
  font-family: var(--font-heading);
  font-size: var(--text-xl);
  font-weight: var(--weight-semibold);
  color: var(--color-dark);
}

.tech-card-body {
  font-family: var(--font-body);
  font-size: var(--text-base);
  line-height: var(--leading-normal);
  color: var(--color-gray-600);
}

.tech-card-image {
  width: 100%;
  border-radius: var(--radius-md);
  margin-top: var(--space-4);
}