@media (max-width: 1500px) {
    :root {
        --text-lg: 1.125rem;
        --text-xl: 1.125rem;
        --text-4xl: 2.5rem;
        --text-6xl: 3.5rem;

        --container-width: 1200px;
    }
}

@media (max-width: 1000px) {

    /* --- Navbar --- */
    .navbar-links {
        display: none;
    }

    /* --- Seção 1 --- */
    .hero-description {
        display: none;
    }
}

@media (max-width: 680px) {
    :root {
        --text-lg: 1rem;
        --text-xl: 1.125rem;
        --text-4xl: 2rem;
        --text-6xl: 2.25rem;
    }

    /* --- Buttons --- */
    .btn {
        padding: var(--space-2) var(--space-6);
    }

    /* --- Seção 1 --- */
    .hero {
        margin: .5rem;
        height: 50vh;
    }

    .hero-title-line {
        gap: var(--space-2);
    }

    .hero-actions {
        width: 100%;
    }

    .hero-actions a {
        width: 100%;
    }

    /* --- Seção 3 --- */
    .goals-item {
        border-right: none;
        border-bottom: 1px solid var(--color-white-08);
    }

    .goals-item-last {
        border-bottom: none;
    }

    /* --- Seção 5 --- */
    .benefits-stat-divider {
        border-right: none;
        border-bottom: 1px solid var(--color-gray-300);
    }

    /* --- CTA --- */
    .cta-content {
        height: 50vh;
    }
    
    .cta-form input {
        width: 100%;
    }

    .cta-form button {
        width: 100%;
    }

    /* --- Footer --- */
    .footer-content {
        align-items: flex-start;
        flex-direction: column;
        gap: var(--space-4);
    }

    .footer-left {
        width: 100%;
        justify-content: center;
    }

    .footer-links {
        align-items: flex-start;
        gap: var(--space-2);
        padding-inline: var(--space-7);
    }
}