@media (max-width: 1500px) {
    :root {
        --text-lg: 1.125rem;
        --text-xl: 1.125rem;
        --text-4xl: 2.5rem;
        --text-6xl: 3.5rem;

        --container-width: 1200px;
    }
}

@media (max-width: 680px) {
    :root {
        --text-lg: 1rem;
        --text-xl: 1.125rem;
        --text-4xl: 2rem;
        --text-6xl: 2.25rem;

        --container-width: 100%;
    }

    /* --- Buttons --- */
    .btn {
        padding: var(--space-2) var(--space-6);
    }

    /* --- Navbar --- */
    .navbar-links {
        display: none;
    }

    /* --- Seção 1 --- */
    .hero {
        margin: .5rem;
    }

    .hero-title-line {
        flex-direction: column;
        gap: var(--space-2);
    }

    .hero-description {
        display: none;
    }

    .hero-actions {
        flex-direction: column;
    }

    .hero-actions a {
        width: 100%;
    }

    /* --- Seção 2 --- */
    .tech-grid {
        grid-template-columns: 1fr;
    }

    /* --- Seção 3 --- */
    .goals-grid {
        flex-direction: column;
    }

    .goals-item {
        border-right: none;
        border-bottom: 1px solid var(--color-white-08);
    }

    .goals-item-last {
        border-bottom: none;
    }

    /* --- Seção 4 --- */
    .audience-grid {
        flex-direction: column;
    }

    /* --- Seção 5 --- */
    .benefits-stats {
        flex-direction: column;
    }

    .benefits-stat-divider {
        border-right: none;
        border-bottom: 1px solid var(--color-gray-300);
    }

    .benefits-list{
        flex-direction: column;
    }

    /* --- Seção 6 --- */
    .usecases-grid {
        flex-direction: column;
    }
}